applications:
- name: <cf-app-name-placeholder>
  instances: 1
  memory: 128M
  path: ../
  buildpack: nodejs_buildpack
  services:
      - <cf-xsuaa-instance-placeholder>
  env:
    BTP_LANDSCAPE: ((BTP_LANDSCAPE))
    BTP_ACCOUNT_NAME: ((BTP_ACCOUNT_NAME))
    XSUAA_CS_URL_SUFFIX: ((XSUAA_CS_URL_SUFFIX))
    XSUAA_CLIENT_ID: ((XSUAA_CLIENT_ID))
    XSUAA_SECRET: ((XSUAA_SECRET))
    CI_BASE_URI: ((CI_BASE_URI))
    CI_PATH: ((CI_PATH))
    BTP_SCOPES: ((BTP_SCOPES))
    REACT_APP_APP_SCOPES: ((REACT_APP_APP_SCOPES))
    CONNECTION_NAME_BTP: ((CONNECTION_NAME_BTP))
    CONNECTION_NAME_GRAPH: ((CONNECTION_NAME_GRAPH))
    MICROSOFT_BLOB_CONTAINER_NAME: ((MICROSOFT_BLOB_CONTAINER_NAME))
    MICROSOFT_BLOB_CONNECTION_STRING: ((MICROSOFT_BLOB_CONNECTION_STRING))
    DOMAIN: ((DOMAIN))
    REACT_APP_APP_DOMAIN: ((REACT_APP_APP_DOMAIN))
    MICROSOFT_APP_ID: ((MICROSOFT_APP_ID))
    REACT_APP_MICROSOFT_APP_ID: ((REACT_APP_MICROSOFT_APP_ID))
    MICROSOFT_APP_PASSWORD: ((MICROSOFT_APP_PASSWORD))
    MICROSOFT_AD_TENANT_ID: ((MICROSOFT_AD_TENANT_ID))